.comment a {
  margin-right: 0.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}

form {
  display: flex;
}

input[type=text] {
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

input[type=submit] {
  width: 4rem;
  background-image: url("../../images/addcomment.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center;
  border-radius: 0 0.25rem 0.25rem 0;
}
