input, textarea {
  display: block;
  width: 100%;
  margin: 0.25rem 0 1.5rem;
  padding: 0.5rem;
  border: 0.0625rem solid var(--black);
  border-radius: 0.25rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  resize: none;
}

input[type=submit] {
  border: 0.0625rem solid var(--orange);
  background-color: var(--orange);
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--white);
  color: var(--orange);
}