.post-card {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid var(--black);
  border-radius: 0.25rem;
}

.post-card > a img {
  width: 100%;
  height: 20;
  object-fit: cover;
}

.post-card > div {
  display: flex;
  padding: 1rem;
}

.post-top {
  justify-content: space-between;
  align-items: center;
}

.post-top > span {
  color: var(--grey);
  font-weight: 300;
}

.post-bottom {
  flex-direction: column;
}

.post-bottom div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-bottom div > *:not(:last-child) {
  margin-right: 1rem;
}