body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 0;
}

.logo {
  margin-bottom: 4rem;
}

section {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  section {
    width: 90%;
  }
}