section {
  width: 50%;
}

form {
  display: flex;
}

input[type=text] {
  border-right: none;
  border-radius: 0.25rem 0 0 0.25rem;
}

input[type=submit] {
  width: 4rem;
  background-image: url("/assets/images/search.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center;
  border-radius: 0 0.25rem 0.25rem 0;
}

.search-results {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
  section {
    width: 100%;
  }

  .search-results {
    grid-template-columns: 1fr;
  }
}