:root {
  --black: #1D1E2C;
  --grey: #C4C4C4;
  --orange: #F95738;
  --white: #FFFFFF;
}

body {
  width: 80%;
  margin: 0 auto 4rem;
  color: var(--black);
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-weight: 300;
}

a {
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--orange);
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 4rem;
}

nav div {
  display: flex;
}

nav a {
  display: flex;
  align-items: center;
}

nav a:nth-child(2) {
  margin: 0 4rem;
}

nav img {
  margin-right: 0.5rem;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.sub-page {
  display: flex;
  margin-bottom: 2rem;
}

.sub-page img {
  margin-right: 1rem;
}

.main-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
  }

  nav a, nav img {
    margin: 0;
  }

  nav a:nth-child(2) {
    margin: 0 1rem;
  }

  nav span {
    display: none;
  }
}