section {
  width: 50%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  section {
    width: 100%;
    grid-template-columns: 1fr;
  }
}