section {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.post-top {
  width: calc(50% - 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post-top div {
  display: flex;
}

.post-top div:last-child {
  display: flex;
  align-items: center;
}

.post-top div:last-child span, .post-top > span{
  color: var(--grey);
  font-weight: 300;
}

.post-top div > *:first-child, .post-bottom div *:not(:last-child) {
  margin-right: 1rem;
}

.post-section > img {
  width: 100%;
}

.post-bottom {
  display: flex;
  flex-direction: column;
}

.post-bottom div {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.comments-section .sub-title, .comments-section p {
  margin-bottom: 1rem;
}

.comments-section p:nth-last-child(2) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  section {
    grid-template-columns: 1fr;
  }

  .post-top {
    width: 100%;
  }
}