.profile-info {
  display: flex;
  margin-bottom: 2rem;
}

.profile-info img {
  width: 7rem;
  margin-right: 1rem;
}

.profile-info span:first-child {
  font-weight: 700;
}

.profile-info > div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-posts {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.profile-posts img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .profile-info > div {
    width: 100%;
  }
}